/* html, */
/* body, */
/* #root, */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 95%;
  height: 95%;
  overflow: hidden;
}

body {
  background-color: rgb(100, 100, 100);
}
